@import 'mixins';
@video-width: 5px;
@bottom-spacing: 25px;
@big-screen-font-size: 32px;
@medium-screen-font-size: 24px;

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	color: white;
	cursor: pointer;
}

#myBtn:hover {
	bottom: 30px;
	animation-name: arrow;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-name: arrow;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
}

@keyframes arrow {
	from {
		bottom: 20px;
	}

	to {
		bottom: 30px;
	}
}

.salesPic {
	// max-width: 100%;
	height: 490px;
	width: 350px;
}


.image-scale-div {
	overflow: hidden;
	width: 350px;
	// width: 350px;
}

.image-scale {
	// max-width: 100%;
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
}

.image-scale:hover {
	transform: scale(1.2);
	transition: 1s ease-out;
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-webkit-transition: 1s ease-out;
}

.priceItalic-sale {
	font-size: 17px;
	line-height: 26px;
	font-style: italic;
	font-weight: 400;
	text-align: center;
	color: white;
}

.priceItalic {
	font-size: 17px;
	line-height: 26px;
	font-style: italic;
	font-weight: 400;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
}

// .rose {
// 	position: absolute;
// 	border: 1px solid;
// 	width: 5rem;
// 	left: -10;
// 	border: 1px solid green;
// }

// #shugarin {
// 	background: url(../pictures/rose.png);
// 	background-position: center center;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }

// .video {
//   box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09),
//   0 4px 2px rgba(0, 0, 0, 0.09),
//   0 8px 4px rgba(0, 0, 0, 0.09),
//   0 16px 8px rgba(0, 0, 0, 0.09),
//   0 32px 16px rgba(0, 0, 0, 0.09);
// }

.video {
	position: relative;
	border-radius: @video-width;
	border-width: @video-width;
	padding: -10px !important;
}

.video:after {
	content: '';
	position: absolute;
	top: calc(-1 * @video-width);
	left: calc(-1 * @video-width);
	height: calc(100% + @video-width * 2);
	width: calc(100% + @video-width * 2);
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	border-radius: calc(2 * @video-width);
	z-index: -1;
	animation: animatedgradient 3s ease alternate infinite;
	background-size: 300% 300%;
	-webkit-animation: animatedgradient 3s ease alternate infinite;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 768px) {
	.salesPic {
		width: 80%;
		height: 400px;
	}
}

@media screen and (max-width: 1200px) {
	.longTitle {
		font-size: @medium-screen-font-size;
	}

	.salesPic {
		width: 270px;
		height: 400px;
	}

	.image-scale-div {
		width: 270px;
	}
}

.longTitle {
	text-align: center;
	font-weight: bold;
	font-size: @big-screen-font-size;
}

.cards-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media screen and (max-width: 921px) {
	.cards-div {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.custom-cards {
		.card(90vw) !important;
		margin-bottom: @bottom-spacing + 20px;
	}

	.preparation {
		flex-direction: column;
	}

	.preparation-procedure2 {
		margin-top: @bottom-spacing !important;
	}

	.preparation-procedure3 {
		margin-top: @bottom-spacing !important;
	}

	.salesPic {
		width: 200px;
		height: 320px;
	}

	.image-scale-div {
		width: 200px;
	}
}

@media screen and (max-width: 767px) {
	.salesPic {
		width: 350px;
		height: 470px;
	}

	.image-scale-div {
		width: 350px;
	}
	
}

.custom-cards {
	.card(23vw);
}

.preparation-procedure2 {
	margin-top: 80px;
}

.preparation-procedure3 {
	margin-top: 160px;
}

.mobileSocials{
	a {
		margin-left: 7px;
	}
}