footer {
	background-color: #DE006F;
	color: white;
}

.footer-nav-list {
	line-height: 30px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	font-size: 0.9rem;
	letter-spacing: .02em;
	transition: all .3s ease;
	position: relative;
}

.footer-nav-list:hover {
	text-decoration: underline;
	color: white;
}

.socials {
	display: inline-block;
	span {
		margin-right: 10px;
	}

	a:hover {
		position: relative;
		top: -5px;
		transition: 0.2s ease-in-out;
		box-shadow: 0 8px 6px -6px white !important;
		// transform: translateY(-5px) !important;
	}
}