#preloader {
	display: block;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #DE006F url(http://hello-site.ru//main/images/preloads/spinning-circles.svg) center center no-repeat;
	background-size: 72px;
}

.header {
	background-color: #ff7da9;
}

.header__line {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact span {
	margin-left: 5px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.logo {
	width: 70px;
	margin-left: 1rem;
}

.logo img {
	max-width: 100%;
}

.ds-nav__nav-list {
	margin-left: 20px;
	flex-wrap: wrap;
	justify-content: center;
}

.nav-list {
	display: flex;
}

.nav-list__link {
	padding: 0 10px;
	display: flex;
	align-items: center;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	font-size: 1rem;
	letter-spacing: 0.02em;
	transition: all 0.3s ease;
	position: relative;
	-webkit-transition: all 0.3s ease;
}

.nav-list__link:hover {
	text-decoration: none;
}

.btn-hover-up {
	position: relative;
}

.btn-hover-up:before {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #FFF;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.btn-hover-up:hover:before {
	visibility: visible;
	width: 100%;
}

.btn-hover-up:hover {
	color: white;
}

.contact {
	display: flex;
	font-size: 1.3rem;
}

.contact__link {
	display: flex;
	align-items: center;
	color: #fff;
	padding: 0 10px;
	font-weight: bold;
}

.contact__link svg {
	margin-right: 10px;
	display: block;
	font-size: 21px;
}

.contact__link .fa-phone {
	transform: rotate(106deg);
	-webkit-transform: rotate(106deg);
}

.contact__link:hover {
	color: #fff;
	text-decoration: none;
}

.lang {
	display: flex;
	align-items: center;
}

.lang__link {
	padding: 10px;
	cursor: pointer;
}

.lang__link:first-child {
	display: block;
}

.lang__link img {
	max-width: 100%;
}

.background-image {
	background-image: url(../pictures/test.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #FF69B4;
}

.background-text {
	width: 35vw;
	padding: 120px 0;
}

.background-text {
	width: 35vw;
	padding: 120px 0;
}

#menuToggle {
	display: block;
	position: absolute;
	top: 20px;
	left: 50px;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle a {
	text-decoration: none;
	color: white;
	transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
}

#menuToggle a:hover {
	color: #DE006F;
}

#menuToggle input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	cursor: pointer;
	opacity: 0;
	/* hide this */
	z-index: 2;
	/* and place it over the hamburger */
	-webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;
	background: #fff;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
	-webkit-transform-origin: 4px 0px;
	-webkit-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
	-webkit-transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
	-webkit-transform: rotate(45deg) translate(-2px, -1px);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
	-webkit-transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked~span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
	-webkit-transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
	position: absolute;
	width: 300px;
	margin: -100px 0 0 -50px;
	padding: 50px;
	padding-top: 125px;
	background: #ff7da9;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
	-webkit-transform-origin: 0% 0%;
	-webkit-transform: translate(-100%, 0);
	-webkit-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
	padding: 10px 0;
	font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked~ul {
	transform: none;
	-webkit-transform: none;
}

/**********************/
.mobileNav {
	display: none;
}

.listInWallpaper {
	color: #ffffff;
	padding-top: 60px;
	padding-bottom: 60px;
}

@media screen and (max-width: 700px) {
	.background-text {
		width: 90vw;
	}
}

.custom-select {
	width: 4rem;
	margin-left: 0.8rem;
	margin-right: 0.2rem;
}

.phone {
	min-width: 56%;
}

@media screen and (max-width: 1200px) {
	.header__line {
		flex-direction: row-reverse;
		justify-content: space-between;
	}

	.header {
		padding: 7px 0;
	}

	.ds-nav {
		display: none;
	}

	.contact {
		display: none;
	}

	.custom-select {
		display: none;
	}

	.logo {
		width: 46px;
		margin-right: 50px;
	}

	.mobileNav {
		display: block;
		/* overflow-x: hidden; */
	}

	.background-text {
		width: 65vw;
	}
}

.container {
	width: 1430px;
	margin: 0 auto;
	padding: 0 16px;
	max-width: 100%;
}

.ribbon-background {
	background-color: #FF69B4;
}

.new-ribbon {
	display: flex;
	align-items: center;
	padding: 2rem 0;
	flex-wrap: nowrap;
}

.custom-button {
	font-size: 1.3rem;
	padding: 15px;
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	color: white;
	cursor: pointer;
}

#myBtn:hover {
	bottom: 30px;
	animation-name: arrow;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	-webkit-animation-name: arrow;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
}

@keyframes arrow {
	from {
		bottom: 20px;
	}

	to {
		bottom: 30px;
	}
}

.salesPic {
	max-width: 100%;
}

.image-scale-div {
	overflow: hidden;
}

.image-scale {
	max-width: 100%;
	transition: 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
}

.image-scale:hover {
	transform: scale(1.2);
	transition: 1s ease-out;
	cursor: pointer;
	-webkit-transform: scale(1.2);
	-webkit-transition: 1s ease-out;
}

.priceItalic-sale {
	font-size: 17px;
	line-height: 26px;
	font-style: italic;
	font-weight: 400;
	text-align: center;
	color: white;
}

.priceItalic {
	font-size: 17px;
	line-height: 26px;
	font-style: italic;
	font-weight: 400;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
}

.video {
	position: relative;
	border-radius: 5px;
	border-width: 5px;
	padding: -10px !important;
}

.video:after {
	content: '';
	position: absolute;
	top: calc(-1 * 5px);
	left: calc(-1 * 5px);
	height: calc(100% + 5px * 2);
	width: calc(100% + 5px * 2);
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	border-radius: calc(2 * 5px);
	z-index: -1;
	animation: animatedgradient 3s ease alternate infinite;
	background-size: 300% 300%;
	-webkit-animation: animatedgradient 3s ease alternate infinite;
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@media screen and (max-width: 768px) {
	.salesPic {
		width: 80%;
	}
}

@media screen and (max-width: 1200px) {
	.longTitle {
		font-size: 24px;
	}
}

.longTitle {
	text-align: center;
	font-weight: bold;
	font-size: 32px;
}

.mx-auto {
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
}

.cards-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media screen and (max-width: 921px) {
	.cards-div {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.custom-cards {
		width: 90vw !important;
		padding: 20px !important;
		box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12) !important;
		margin-bottom: 45px;
	}

	.preparation {
		flex-direction: column;
	}

	.preparation-procedure2 {
		margin-top: 25px !important;
	}

	.preparation-procedure3 {
		margin-top: 25px !important;
	}
}

.custom-cards {
	width: 23vw;
	padding: 20px;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.preparation-procedure2 {
	margin-top: 80px;
}

.preparation-procedure3 {
	margin-top: 160px;
}

.mobileSocials a {
	margin-left: 7px;
}

footer {
	background-color: #DE006F;
	color: white;
}

.footer-nav-list {
	line-height: 30px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	font-size: 0.9rem;
	letter-spacing: 0.02em;
	transition: all 0.3s ease;
	position: relative;
	-webkit-transition: all 0.3s ease;
}

.footer-nav-list:hover {
	text-decoration: underline;
	color: white;
}

.socials {
	display: inline-block;
}

.socials span {
	margin-right: 10px;
}

.socials a:hover {
	position: relative;
	top: -5px;
	transition: 0.2s ease-in-out;
	box-shadow: 0 8px 6px -6px white !important;
	-webkit-transition: 0.2s ease-in-out;
}

.custom-container-slick {
	width: 1430px;
	margin: 0 auto;
	padding: 0 48px;
	max-width: 100%;
}

.card {
	margin-left: 2rem;
	margin-right: 2rem;
}

.priceName {
	font-size: 18px;
	color: #FF69B4;
	margin-left: 30px;
}

.price {
	color: white;
	font-size: 18px;
	float: right;
	margin-left: 5vw;
	font-weight: bold;
}

.priceName:hover {
	cursor: pointer;
}

.priceName:hover .price {
	color: white;
	outline: 5px dashed pink;
	box-shadow: 0 0 0 5px #FF69B4;
	animation: 1s animateBorderThree ease infinite;
	-webkit-animation: 1s animateBorderThree ease infinite;
}

@keyframes animateBorderThree {
	to {
		outline-color: #FF69B4;
		box-shadow: 0 0 0 5px white;
		color: #FF69B4;
	}
}

.laserPrices {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 921px) {
	.laserPrices {
		flex-direction: column;
	}
}

@font-face {
	font-family: "Temporary";
	src: url("../fonts/Robotocondensed.woff") format("woff");
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	color: #DE006F !important;
	font-size: 16px;
	font-family: "Temporary";
	overflow-x: hidden;
}

.custom-container {
	width: 1430px;
	margin: 0 auto;
	padding: 0 16px;
	max-width: 100%;
}

.section {
	padding-top: 50px;
	padding-bottom: 50px;
}

.spaces-between-blocks {
	padding-top: 20px;
	padding-bottom: 20px;
}

.background-image-price {
	background-image: url(../pictures/rose2.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #464646;
}

.btn-light {
	background-color: #FF3B9D !important;
	border-color: #DE006F !important;
	color: white !important;
	outline: 0 !important;
}

.btn-light:hover {
	background-color: #DE006F !important;
	color: white !important;
	outline: 0 !important;
}

.btn-light:active {
	outline-color: #DE006F !important;
	border-color: #DE006F !important;
	box-shadow: 0 0 0 0.2rem rgba(213, 160, 33, 0.5) !important;
}

.btn-light:focus {
	outline-color: #DE006F !important;
	border-color: #DE006F !important;
	box-shadow: 0 0 0 0.2rem rgba(213, 160, 33, 0.5) !important;
}

@media screen and (max-width: 1024px) {
	.new-ribbon {
		flex-wrap: wrap;
	}
}
